.amazon-header {
  background-color: rgb(19, 25, 33);
  color: white;
  padding-left: 15px;
  padding-right: 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.amazon-header-left-section {
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
}

@media (max-width: 800px) {
  .amazon-header-left-section {
    width: unset;
  }
}

.header-link {
  display: inline-block;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

.header-link:hover {
  border: 1px solid white;
}

.thy-logo {
  width: 35px;
}

.thy-mobile-logo {
  display: none;
}

@media (max-width: 575px) {
  .amazon-logo {
    display: none;
  }

  .amazon-mobile-logo {
    display: block;
    height: 35px;
    margin-top: 5px;
  }
}

.thy-header-middle-section {
  flex: 1;
  max-width: 750px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.search-bar {
  flex: 1;
  width: 0;
  font-size: 16px;
  height: 38px;
  padding-left: 15px;
  border: none;
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-button {
  background-color: rgb(251, 42, 42);
  border: none;
  width: 60px;
  height: 40px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  flex-shrink: 0;
}

.search-icon {
  height: 22px;
  margin-left: 2px;
  margin-top: 3px;
}

.thy-header-right-section {
  width: 180px;
  margin-right: 20px;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
}

.orders-link {
  margin-top:10px;
  color: white;
}

.returns-text {
  display: block;
  font-size: 10px;
  margin-bottom: 4px;
}

.orders-text {
  display: block;
  font-size: 12px;
  font-weight: 500;
  color: rgb(136, 227, 0);
}

.cart-link {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  width: 600px;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 2px; 
  padding: 0;
  margin-left: 8px
}
 
.cart-link:hover{
  border: 1px solid white;
}

.cart-icon {
  width: 50px;
}

.cart-text {
  margin-top: 0px;
  font-size: 15px;
  font-weight: 700;
}

.cart-quantity {
  color: white;
  font-size: 15px;
  font-weight: 700;

  position: absolute;
  top: 17px;
  left: 93px;
  
  width: 26px;
}
