.thy-header {
  background-color: rgb(19, 25, 33);
  color: white;
  padding-left: 15px;
  padding-right: 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.thy-header-left-section {
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
}
.brand-name {
  font-size: 18px;
  padding-left: 18px;
  color: rgb(8, 206, 8);
  padding-right: 8px;
}

@media (max-width: 800px) {
  .thy-header-left-section {
    width: unset;
  }
}

.header-link {
  display: inline-block;
  padding: 0px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

.header-link:hover {
  border: 1px solid white;
}

.thy-logo {
  width: 35px;
  padding: 8px;
}

.thy-mobile-logo {
  display: none;
}

@media (max-width: 575px) {
  .thy-logo {
    display: none;
  }

  .thy-mobile-logo {
    display: block;
    height: 35px;
    margin-top: 5px;
  }
}

.thy-header-middle-section {
  flex: 1;
  max-width: 750px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.search-bar {
  flex: 1;
  width: 0;
  font-size: 16px;
  height: 38px;
  padding-left: 15px;
  border: none;
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-button {
  background-color: rgb(251, 42, 42);
  border: none;
  width: 60px;
  height: 40px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  flex-shrink: 0;
}

.search-icon {
  height: 22px;
  margin-left: 2px;
  margin-top: 3px;
}

.thy-header-right-section {
  width: 300px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between; /* Distributes space between children */
  align-items: center; /* Vertically aligns children */
}

.bakiye-link {
  margin-top: 5px;
  color: white;
  flex-shrink: 0;
}

.bakiye-text {
  font-size: 15px;
}

.mil-text {
  font-weight: 500;
  font-size: 15px;
  color: rgb(8, 206, 8);
}

.cart-link {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 2px;
  padding: 5px 10px;
  margin-right: 0;
  margin-left: -10px; /* Moves the cart-link 10px to the left */
  width: auto;
}


.cart-link:hover{
  border: 1px solid white;
}

.cart-icon {
  width: 30px; /* Adjust width as needed */
  flex-shrink: 0; /* Prevents the icon from shrinking */
  margin-right: 5px; /* Space between icon and text */
}

.cart-text {
  font-size: 15px;
  font-weight: 700;
  margin-left: 0; /* Removes any automatic left margin */
  margin-top: 7px;
}

.cart-quantity {
  font-size: 15px;
  font-weight: 700;
  margin-left: 5px; /* Space between text and quantity */
  position: relative;
  top: 0; /* Adjust alignment relative to the text */
  margin-top: 7px;
}

.bakiye-text,
.mil-text {
  display: inline-block;
  margin-right: 10px; /* Space between the two texts */
}
