.checkout-header {
  height: 60px;
  padding-left: 15px;
  padding-right: 30px;
  background-color: rgb(19, 25, 33);

  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-content {
  width: 100%;
  max-width: 1100px;

  display: flex;
  align-items: center;
}

.checkout-header-left-section {
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
  border: 1px solid rgb(19, 25, 33);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 50px;
}

.checkout-header-left-section:hover{
  border: 1px solid white;
}

.checkout-header-link{
  text-decoration: none;
}

.thy-logo {
  width: 35px;
  padding: 8px;
}

.thy-mobile-logo {
  display: none;
}

.brand-name {
  font-size: 18px;
  padding-left: 18px;
  color: rgb(8, 206, 8);
  padding-right: 8px;
}

/* @media is used to create responsive design (making the
   website look good on any screen size). This @media
   means when the screen width is 575px or less, different
   styles (inside the {...}) will be applied. */
@media (max-width: 575px) {
  .checkout-header-left-section {
    width: auto;
  }

  .thy-logo {
    display: none;
  }

  .thy-mobile-logo {
    display: inline-block;
    height: 35px;
    margin-top: 5px;
  }
}

.checkout-header-middle-section {
  flex: 1;
  flex-shrink: 0;
  text-align: center;

  font-size: 25px;
  font-weight: 500;
  color: white;
  display: flex;
}

.checkout-header-right-section {
  text-align: right;
  font-size: 25px;
  font-weight: 500;
  color: white;
}

/*.return-to-home-link {
  color: rgb(0, 113, 133);
  font-size: 23px;
  text-decoration: none;
  cursor: pointer;
} artık gerek yok*/

@media (max-width: 1000px) {
  .checkout-header-middle-section {
    font-size: 20px;
    margin-right: 60px;
  }

  .return-to-home-link {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .checkout-header-middle-section {
    margin-right: 5px;
  }
}


@media (max-width: 1000px) {
  .checkout-header-right-section {
    width: auto;
  }
}
